@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --grayish-blue: hsl(201, 11%, 66%);
  --light-grayish-blue: hsl(210, 10%, 33%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 1.03rem;
  font-family: 'Bai Jamjuree', sans-serif;
}

h1 {
  color: var(--light-grayish-blue);
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  color: var(--light-grayish-blue);
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--light-grayish-blue);
  font-size: 1.8rem;
}

h4 {
  color: var(--light-grayish-blue);
  font-size: 1.5rem;
}

.paragraph-regular {
  color: var(--grayish-blue);
  line-height: 1.75rem;
  margin-top: 0;
}

.btn-download {
  display: inline-block;
  border-radius: 2em;
  padding: 1em;
  width: 90%;
  max-width: 375px;
  margin-top: 1.5rem;

  text-decoration: none;
  color: white;
}

.btn-download:hover {
  opacity: 0.8;
}

.green {
  background-color: var(--cyan);
  border-bottom: 3px solid hsl(171, 66%, 36%);
}

.blue {
  background-color: var(--light-blue);
  border-bottom: 3px solid hsl(233, 47%, 51%);
}

/* HEADER */

header {
  width: 100%;
  max-width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url('images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header img {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.header-container {
  width: 85%;
}

.download-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MAIN */

main {
  width: 100%;
  max-width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-one,
.section-two,
.section-three {
  width: 85%;
  margin-top: 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-four {
  width: 85%;
  margin-top: 8rem;
}

.section-four-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-computer {
  width: 100%;
  display: cover;
}

.img-devices {
  width: 100%;
}

.icons {
  width: 38px;
  height: 30px;
}

.logos {
  margin-top: 5rem;
}

/* FOOTER */

footer {
  width: 100%;
  margin-top: 8rem;

  display: grid;
  place-items: center;

  background-color: hsla(202, 11%, 66%, 0.15);
}

.footer-logo {
  width: 50%;
  margin: 3rem 0 2rem;
}

.footer-links-container {
  list-style-type: none;
}

.footer-link {
  color: var(--light-grayish-blue);

  text-decoration: none;
  line-height: 3rem;
}

.footer-link:hover {
  color: var(--cyan);
}

.footer-icons-container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  color: var(--light-grayish-blue);
  scale: 2;
}

.footer-icons:hover {
  color: var(--cyan);
}

/* MEDIA QUERY */

@media (min-width: 376px) {
  h1 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .paragraph-regular {
    font-size: 1.25rem;
    width: 50%;
  }

  header .paragraph-regular {
    width: 100%;
  }

  .section-one .paragraph-regular,
  .section-four .paragraph-regular {
    font-size: 1rem;
  }

  .section-one-content .paragraph-regular {
    font-size: 1rem;
    width: 90%;
    margin-bottom: 3rem;
  }

  .tools-list .paragraph-regular {
    width: 100%;
    font-size: 1rem;
  }
}

@media (min-width: 1250px) {
  .download-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 430px;
    margin: 0 auto;
  }

  .btn-download {
    width: 45%;
    max-width: 200px;
  }
}

/* MEDIA - HEADER */

@media (min-width: 376px) {
  header {
    max-width: 1800px;

    background: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  header img {
    margin-bottom: 1.5rem;
  }

  .header-container {
    width: 50%;
  }
}

/* MEDIA - MAIN */

@media (min-width: 800px) {
  main {
    max-width: 1800px;
  }

  .section-one,
  .section-two,
  .section-three,
  .section-four {
    width: 80%;
  }

  .section-one-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
    position: relative;
    left: -15vw;
  }

  .section-one-benefits {
    text-align: left;
    margin-left: 5rem;
  }

  .section-two-content {
    display: flex;
    flex-direction: row;
  }

  .img-computer {
    max-height: 100%;
  }

  .img-devices {
    width: 80%;
    margin: 4rem 0 3rem 0;
  }

  .tools-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.5rem;
    margin-top: 3rem;
    width: 100%;
    height: 20vh;
  }

  .tools-list:nth-of-type(1) {
    margin-left: 0;
  }

  .section-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* MEDIA - FOOTER */

@media (min-width: 1440px) {
  footer {
    width: 100%;
  }

  .footer-container {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1800px;
    height: 140px;
  }

  .footer-logo-container {
    width: 10%;
    display: grid;
    place-items: left;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-links-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
    margin-right: 20rem;
    margin-left: 5rem;

    text-align: left;
  }

  .footer-links-container li:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer-links-container li:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer-links-container li:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer-links-container li:nth-of-type(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .footer-icons-container {
    width: 20%;
  }

  .footer-icons {
    scale: 1.75;
  }
}
